body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #1c2541;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
   flex-direction: column;
}

.container {
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

.clock-card {
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.4);
}

.time {
  font-size: 48px;
  margin-bottom: 10px;
}

.date {
  font-size: 20px;
  margin-bottom: 15px;
}

.message {
  font-size: 16px;
}

.back {
  display: inline-block;
  margin-top: 25px;
  color: #00d4ff;
  text-decoration: none;

}
